body {
    background-image: url(../img/_DSC8444c.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

form {
    width: 450px;
    margin: 30px;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    font-family: 'Josefin Sans', sans-serif;
}

p {
    color: #fff;
    font-size: 0.95rem;
}

.contacto {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 13px;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}

#boton {
    background-color: black;
    padding: 20px;
    color: #fff;
}

#boton:hover {
    cursor: pointer;
}

.contenedor {
    display: flex;
    justify-content: space-between;
}

.logoc {
    display: flex;
    width: 200px;
    height: 150px;
    margin-top:3vh;
}

.mapa {
    margin-top: 25vh;
    margin-right: 30px;
}
.logoGrupo {
    display: flex;
    width: 180px;
    height: 240px;
}

@media (max-width:480px) {
    .contenedor {
        flex-direction: column;
    }

    form {
        width: auto;
    }
}

@media (max-width:780px) {
    .contenedor {
        flex-direction: column;
    }

    form {
        width: auto;
    }
}