* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background: rgb(178,3,0);
    background: linear-gradient(322deg, rgba(178,3,0,1) 0%, rgba(241,144,0,1) 50%, rgba(250,250,250,1) 100%); 
}

.titulo{
    color: #fff;
}

h1 {
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
    height: 105px;
    width: 100%;
    background: #202020;
    border-bottom: 5px solid #fff;
}

/* .linea {
    background: #ffffffff;
    height: 50px;
    width: 100%;
    display: block;
} */

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 5px;
    padding: 40px 0;
    overflow: hidden;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.galeria img {
    width: 100%;
    vertical-align: top;
    height: 250px;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img{
    width: 75vw;
    max-height: 90vh;
}

.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #851919;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next{
    display: block;
    background: #851919;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

.descrip{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

@media screen and (max-whidth:480px){
    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .close{
        top: 20px;
        right: 20px;
    }

    .titulo{
        display: flex;
        flex-direction: row;
    }

}
